@mixin h-props ($n) {
	padding: 0;
	padding-left: 40px * ($n - 1);
	font-size:   (10px - $n) * 2;
}
.contents-section { 
	display: none;
	&.activated{
		display: block;
	}
	border: 1px solid #aaa;
	margin: 20px 5px;
	padding: 10px;
	>legend{
		color: #aaa;
		font-style: italic;
		margin-left: 20px;
	}
	>div{
		>a{
			text-decoration: none;
			font-style: italic;
			font-weight: bold;
			color: inherit;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	>div.h1-link-div {@include h-props(1);} 
	>div.h2-link-div {@include h-props(2);} 
	>div.h3-link-div {@include h-props(3);} 
	>div.h4-link-div {@include h-props(4);} 
	>div.h5-link-div {@include h-props(5);} 
	>div.h6-link-div {@include h-props(6);} 

	>div.h1-link-div.reduced-by-1 {@include h-props(2);} 
	>div.h1-link-div.reduced-by-2 {@include h-props(3);} 
	>div.h1-link-div.reduced-by-3 {@include h-props(4);} 
	>div.h1-link-div.reduced-by-4 {@include h-props(5);} 
	>div.h1-link-div.reduced-by-5 {@include h-props(6);} 

} 

a.contents-section--scroll-to-content-list{
	&:before {
		content: "⬆UP";
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		min-height: 30px;
		
	}
	text-decoration: none;
	color: transparent;
	&:hover{
		color: #999;
		text-shadow: 0 0 5px #999;
	}
}