$main_c: #aaa;
$bg_c  : #222;
$green : #2ba;
$red   : #f88;

@import "details";
@import "code";
@import "cli";

body {
	color: $main_c;
	background-color: $bg_c;
	>.container {
		margin: 10px 100px 500px 100px;
		font-family: verdana, arial, sans-serif;
	}
}


.prediv{
	white-space: pre-wrap;
	font-family: monospace;
	margin: 10px;
	padding: 5px;
	border: 1px solid #aaa;
	// box-shadow: 0 0 10px #aaa;
	color: #ccc;
	background-color: #000;

	&.no-border{
		border: none;
	}
}

.mermaid {
	filter: blur(10px) contrast(0);
	&[data-processed="true"] {
		filter: none;
	}
}
	
ol.nested {counter-reset: nested;}
ol.nested>li.nested {counter-increment: nested;}
ol.nested>li.nested::marker {content: counters(nested, "-")". ";}


article, section {
	margin-bottom: 30px;
	// border-left: 3px solid #555;
	margin-left: 10px;
	/* border-top: 1px solid #555;
	&:nth-of-type(1) {
		border-top: none;
	} */
}